---
import { getCollection, type CollectionEntry } from "astro:content";
import BackArrow from "../../assets/images/icons/BackArrow.astro";
import Heading from "../../components/Heading.astro";
import PageLayout from "../../layout/PageLayout.astro";
import { Image } from "astro:assets";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
const post = Astro.props as CollectionEntry<"blog">;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <main aria-label="Main content" id="main-content">
    <div class="mx-2 mt-4">
      <Image
        src={post.data.image.src}
        alt={post.data.image.alt}
        class="max-h-80 w-full rounded-lg object-cover"
      />
    </div>
    <div
      class="m-4 grid gap-4 border-b-2 border-slate-400 pb-4"
      aria-label="Blog title"
    >
      <Heading level="h1" class="text-neutral-100" applyGradient={false}>
        {post.data.title}
      </Heading>
    </div>
    <section class="m-4 flex justify-center">
      <article
        class="prose prose-cold-slate prose-code:before:content-[''] prose-code:after:content-[''] prose-pre:mx-auto prose-pre:max-w-[90vw]"
        aria-label="Content"
      >
        <Content />
        <Button href="#main-content" type="secondary" class="mt-16">
          To Top &uarr;
        </Button>
      </article>
    </section>
  </main>
</PageLayout>
