---
import PageLayout from "../../layout/PageLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import Heading from "../../components/Heading.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.order.valueOf() - a.data.order.valueOf()
);
---

<PageLayout
  title="Projects"
  description="Get an overview of Kristian Nielsen's projects."
>
  <main
    class="mx-4 mt-12 grid gap-16 sm:grid-cols-2"
    id="main-content"
    aria-label="Main content"
  >
    <div>
      <Heading level="h1">Projects</Heading>
      <p>Here you will find a handpicked selection of projects.</p>
    </div>

    <ul class="grid gap-8" aria-label="Projects list">
      {
        projects.map((project) => (
          <li>
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              href={`/projects/${project.slug}`}
              stack={project.data.stack}
              image={project.data.image}
              tags={project.data.tags}
              viewTransitionName={project.data.github}
            />
          </li>
        ))
      }
    </ul>
  </main>
</PageLayout>
