---
import { twMerge } from "tailwind-merge";
import MetaData from "../components/head/MetaData.astro";
import Fonts from "../components/head/Fonts.astro";
import Analytics from "../components/head/Analytics.astro";
import NavigationBar from "../components/navigation/NavigationBar.astro";
import Footer from "../components/navigation/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import StructuredData from "../components/head/StructuredData.astro";

interface Props {
  title: string;
  description: string;
  image?: {
    src: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    alt: string;
  };
  hasStructuredData?: boolean;
  publishingDate: Date;
  class?: string;
}

const {
  title,
  description,
  image,
  hasStructuredData,
  publishingDate,
  class: className,
} = Astro.props;
---

<html lang="en" class="scroll-p-24 scroll-smooth font-poppins">
  <head>
    <MetaData title={title} description={description} image={image} />
    <Fonts />
    {
      hasStructuredData && image && (
        <StructuredData
          publishingDate={publishingDate}
          headline={title}
          description={description}
          image={image}
        />
      )
    }
    <Analytics />
    <ViewTransitions />
  </head>
  <body
    class={twMerge(
      "sm:max-w-screen-lg flex flex-col bg-slate-950 text-slate-400 lg:mx-auto",
      className,
    )}
  >
    <NavigationBar />
    <slot />
    <Footer />
  </body>
</html>
